In [1]:
def get_station_names():
    
    names = open("stations.txt", 'r').readlines()
    clean_names = []
    for name in names:
        clean_names.append(name.replace("\n", ""))
        
    return clean_names

stations = get_station_names()

In [17]:
def get_lat_long_text(station):
    '''
    Get the lines containing the latitude and longitude information
    of the station
    '''
    lines = open("data\\"+station+".txt", "r").readlines()
    text = ""
    
    for line in lines:
        if "Lat" in line:
            text = line
            break
            
    return text

In [19]:
for station in stations:
    print(station, get_lat_long_text(station))

aberporth Location: 224100E 252100N, Lat 52.139 Lon -4.570, 133 metres amsl

armagh Location: 287800E 345800N (Irish Grid), Lat 54.352 Lon -6.649, 62 metres amsl

ballypatrick Location 317600E 438600N (Irish Grid), Lat 55.181 Lon -6.153, 156m amsl

bradford Location 414900E 435200N, Lat 53.813 Lon -1.772, 134 metres amsl

braemar & 315200E 791900N, Lat 57.006 Lon -3.396, 327 metres amsl (Aug 2005 onwards)

camborne Location 162700E 40700N, Lat 50.218 Lon -5.327, 87m amsl

cambridge Location: 543500E 260600N, Lat 52.245 Lon 0.102, 26 metres amsl

cardiff Location 317600E 177300N, Lat 51.488 Lon -3.187, 9 metres amsl

chivenor Location 249600E 134400N, Lat 51.089 Lon -4.147, 6m amsl

cwmystwyth Location: 277300E 274900N, Lat 52.358 Lon -3.802, 301 metres amsl

dunstaffnage Location 188100E 734000N, Lat 56.451 Lon -5.439, 3m amsl

durham Location: 426700E 541500N, Lat 54.768 Lon -1.585, 102 metres amsl

eastbourne Location: 561100E 98300N, Lat 50.762 Lon 0.285, 7 metres amsl

eskdalemuir Location 323400E 602600N, Lat 55.311 Lon -3.206, 242m amsl

heathrow Location 507800E 176700N, Lat 51.479 Lon -0.449, 25m amsl

hurn Location 411700E 97800N, Lat 50.779 Lon -1.835, 10 metres amsl

lerwick Location: 445300E 1139700N, Lat 60.139 Lon -1.183, 82 metres amsl

leuchars Location: 346800E 720900N, Lat 56.377 Lon -2.861, 10 metres amsl

lowestoft & from Sept 2007 653000E 293800N, Lat 52.483 Lon 1.727, 18m amsl

manston Location 632300E 166100N, Lat 51.346 Lon 1.337, 49m amsl

nairn after 1998 291200E 857300N, Lat 57.593 Lon -3.821, 23 m amsl

newtonrigg Location 349300E 530800N, Lat 54.670 Lon -2.786, 169 metres amsl

oxford Location: 450900E 207200N, Lat 51.761 Lon -1.262, 63 metres amsl

paisley Location 247800E 664200N, Lat 55.846 Lon -4.430, 32 metres amsl

ringway Location: 381400E 384400N, Lat 53.356 Lon -2.279, 69 metres amsl

rossonwye Location: 359800E 223800N, Lat 51.911 Lon -2.584, 67 metres amsl

shawbury Location: 355200E 322100N, Lat 52.794 Lon -2.663, 72 metres amsl

sheffield Location 433900E 387200N, Lat 53.381 Lon -1.490, 131 metres amsl

southampton & 441600E 111200N, Lat 50.898 Lon -1.408, 3 metres amsl (1970 to 2000)

stornoway Location: 146400E 933200N, Lat 58.214 Lon -6.318, 15 metres amsl

suttonbonington Location: 450700E 325900N, Lat 52.833 Lon -1.250, 48 metres amsl

tiree Location: 99800E 744800N, Lat 56.500 Lon -6.880, 12 metres amsl

valley Location: 230800E 375800N, Lat 53.252 Lon -4.535, 10 metres amsl

waddington Location 498800E 365300N, Lat 53.175 Lon -0.522, 68m amsl

whitby & from 2000 489100E 510400N, Lat 54.481 Lon -0.624 41m amsl

wickairport Location  336500E 952200N, Lat 58.454 Lon -3.088, 36m amsl

yeovilton Location: 355100E 123200N, Lat 51.006 Lon -2.641, 20 metres amsl

In [36]:
def parse_line(line):
    '''
    Extract latitude and longitude data from a line entry
    '''
    tokens = line.split(" ")
    lat_long = []
    
    for i in range(0, len(tokens)):
        
        if "Lat" in tokens[i]:
            lat_long.append(tokens[i+1].strip().replace(",",""))
        elif "Lon" in tokens[i]:
            lat_long.append(tokens[i+1].strip().replace(",",""))
        else:
            pass
        
        if len(lat_long) >= 2:
            break
            
    return lat_long

In [41]:
import pandas as pd

def get_lat_long():
    "Extract latitude longitude data and store it in a data frame"
    locations = {}
    for station in stations:
        lat_long = parse_line(get_lat_long_text(station))
        locations[station] = lat_long
    
    return pd.DataFrame(locations, index=["latitude", "longitude"]).transpose()

In [52]:
coordinates = get_lat_long()
coordinates.latitude = coordinates.latitude.astype(float)
coordinates.longitude = coordinates.longitude.astype(float)
coordinates

                 latitude  longitude
aberporth          52.139     -4.570
armagh             54.352     -6.649
ballypatrick       55.181     -6.153
bradford           53.813     -1.772
braemar            57.006     -3.396
camborne           50.218     -5.327
cambridge          52.245      0.102
cardiff            51.488     -3.187
chivenor           51.089     -4.147
cwmystwyth         52.358     -3.802
dunstaffnage       56.451     -5.439
durham             54.768     -1.585
eastbourne         50.762      0.285
eskdalemuir        55.311     -3.206
heathrow           51.479     -0.449
hurn               50.779     -1.835
lerwick            60.139     -1.183
leuchars           56.377     -2.861
lowestoft          52.483      1.727
manston            51.346      1.337
nairn              57.593     -3.821
newtonrigg         54.670     -2.786
oxford             51.761     -1.262
paisley            55.846     -4.430
ringway            53.356     -2.279
rossonwye          51.911     -2.584
shawbury           52.794     -2.663
sheffield          53.381     -1.490
southampton        50.898     -1.408
stornoway          58.214     -6.318
suttonbonington    52.833     -1.250
tiree              56.500     -6.880
valley             53.252     -4.535
waddington         53.175     -0.522
whitby             54.481     -0.624
wickairport        58.454     -3.088
yeovilton          51.006     -2.641

## create true class labels for the station data

In [53]:
coordinates = pd.concat([coordinates, pd.Series(name="class", index=coordinates.index)], axis=1)
n_cutoff = 57.233 # latitude boundary between northern and central thirds
s_cutoff = 53.567 # latitude boundary between central and southern thirds

for index in range(0, len(coordinates)):
    
    if coordinates.iloc[index] < s_cutoff:
        # located in southrern third
        coordinates.class.iloc[index].set_value(-1)
        
    elif coordinates.iloc[index] > n_cutoff:
        # located in northern third
        coordinates.class.iloc[index].set_value(1)
        
    else:
        # located in central third
        coordinates.class.iloc[index].set_value(0)

                 latitude  longitude  class
aberporth          52.139     -4.570    NaN
armagh             54.352     -6.649    NaN
ballypatrick       55.181     -6.153    NaN
bradford           53.813     -1.772    NaN
braemar            57.006     -3.396    NaN
camborne           50.218     -5.327    NaN
cambridge          52.245      0.102    NaN
cardiff            51.488     -3.187    NaN
chivenor           51.089     -4.147    NaN
cwmystwyth         52.358     -3.802    NaN
dunstaffnage       56.451     -5.439    NaN
durham             54.768     -1.585    NaN
eastbourne         50.762      0.285    NaN
eskdalemuir        55.311     -3.206    NaN
heathrow           51.479     -0.449    NaN
hurn               50.779     -1.835    NaN
lerwick            60.139     -1.183    NaN
leuchars           56.377     -2.861    NaN
lowestoft          52.483      1.727    NaN
manston            51.346      1.337    NaN
nairn              57.593     -3.821    NaN
newtonrigg         54.670     -2.786    NaN
oxford             51.761     -1.262    NaN
paisley            55.846     -4.430    NaN
ringway            53.356     -2.279    NaN
rossonwye          51.911     -2.584    NaN
shawbury           52.794     -2.663    NaN
sheffield          53.381     -1.490    NaN
southampton        50.898     -1.408    NaN
stornoway          58.214     -6.318    NaN
suttonbonington    52.833     -1.250    NaN
tiree              56.500     -6.880    NaN
valley             53.252     -4.535    NaN
waddington         53.175     -0.522    NaN
whitby             54.481     -0.624    NaN
wickairport        58.454     -3.088    NaN
yeovilton          51.006     -2.641    NaN